#results .genres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    margin-top: 2rem;
}

#results .playlist-card {
    --border-radius: 10px;
    padding: 0.8rem;
    margin: 0.5rem;
    background-color: var(--russian-violet);
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition:
        transform 0.1s ease-out,
        background-color 0.1s ease-out;
    user-select: none;
}

#results .playlist-card:hover {
    transform: translateY(-5px);
    background-color: var(--russian-violet-light);
}

#results .playlist-card img {
    width: 100%;
    border-radius: calc(var(--border-radius) / 2);
}

#results .playlist-card .title {
    font-weight: 600;
    margin-top: 0.6rem;
    word-wrap: break-word;
}

#results .playlist-card .extra-info {
    margin-top: 0.4rem;
    word-wrap: break-word;
    opacity: 0.5;
    font-size: 0.9rem;
}
