#room .songs-loading-status .loading-bar {
    --border-radius: 6px;

    background-color: var(--light-gray);
    height: 1rem;
    width: 100%;
    padding: 2px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
}

#room .songs-loading-status .loading-bar .inner {
    background-color: var(--dogwood-rose);
    height: 100%;
    width: var(--loading-bar-width);
    border-radius: calc(var(--border-radius) - 2px);
    transition: width 0.5s ease-out;
}
