$dogwood-rose: #cc3363ff;
$russian-violet-dark: #140d1d;
$russian-violet: #2d0853;
$russian-violet-light: #3e0c70;
$carolina-blue: #84acceff;
$olivine: #a8c686ff;
$pear: #d1d646ff;
$light-gray: #e8e8e8ff;