$dogwood-rose: #cc3363;
$russian-violet-dark: #140d1d;
$russian-violet: #2d0853;
$russian-violet-light: #3e0c70;
$russian-violet-lighter: #4a1083;
$carolina-blue: #84acce;
$olivine: #d2f7ac;
$pear: #d1d646;
$light-gray: #e8e8e8;